body {
  margin: 0;
  font-family: Poppins;
  background-color: #3d3d3d;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../../../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
